<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="admin/AdminDashboard::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>Document</title>
</head>
<body>
	<section>

		<div class="mt-2 p-3 ">
			<h5 class="text-muted my-2">My Profile</h5>
			<div class="fullDivider"></div>

			<div class="card mx-sm-5 my-5">
			
				<div class="row my-4 py-3 ">
			
				<div class="col-sm-5   text-center">
					<img style="width:70%; height:auto;" th:src="@{'/image/webContent/userImages/'+${user.userPic }}" alt="Picture not found!!" /> 
					<h2 th:text="${user.userName}" class="text-Muted mt-3"></h2>
				</div>
				 <div class="col-sm-5 ">
				<table class="table borderless table-stripped">
					<tr>
						<td>Email : </td>
						<td th:text="${user.userEmail}"></td>
					</tr>
					<tr>
						<td>Contact : </td>
						<td th:text="${user.userPhone}"></td>
					</tr>
					<tr>
						<td>Password : </td>
						<td>**********</td>
					</tr>
					<tr>
						<td>District : </td>
						<td th:text="${user.userDistrict}"></td>
					</tr>
					<tr>
						<td>Pincode : </td>
						<td th:text="${user.userPincode}"></td>
					</tr>
					<tr>
						<td>Address : </td>
						<td th:text="${user.userAddr}"></td>
					</tr>
						
				</table> 
					<div class="text-right">
						<a th:href="@{/admin/editProfilePage}" class="btn btn-outline-warning">Edit</a>
					</div>
				</div>
			</div>
			</div>
		</div>
	</section>
</body>
</html>
