<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="navbar::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
</head>
<body class="bg-fwhite">
	<section>
		<div class="container" style="margin-bottom: 110px; ">
		<div class="scale"></div>
			<nav class="mt-5 pt-4">
				<div class="nav nav-tabs nav-fill" id="nav-tab" role="">
					<a th:classappend="${tagName.equals('login')?'active':''}"
						class="nav-link" id="nav-home-tab" data-toggle="tab"
						href="#nav-home" role="tab" aria-controls="nav-home"
						th:attr="aria-selected=${tagName.equals('login')?'true':'false'}">Login</a>
					<a th:classappend="${tagName.equals('register')?'active':''}"
						class="nav-link" id="nav-profile-tab" data-toggle="tab"
						href="#nav-profile" role="tab" aria-controls="nav-profile"
						th:attr="aria-selected=${tagName.equals('register')?'true':'false'}">Register</a>
				</div>
			</nav>
			<div class="tab-content" id="nav-tabContent">
				<div th:classappend="${tagName.equals('login')?'show active':''}"
					class="tab-pane fade" id="nav-home" role="tabpanel"
					aria-labelledby="nav-home-tab text-center">
					<div class="row">
						<div class="col-12 col-sm-10 col-md-8 offset-sm-1 offset-md-2">

							<div class="loiginCard">
								<div th:if="${param.error}" class=" mb-2 pt-1 pb-0 text-danger">
									<p>
										<i class="fa-solid fa-triangle-exclamation"></i> &nbsp;
										Invalid Email or Password !!
									</p>
								</div>
								<div th:if="${param.logout}" class="mb-1 pt-1 pb-0 text-success">
									<p>You'r Successfully logout !!</p>
								</div>
								<form th:action="@{/do_login}" method="Post">
									<!-- Email input -->
									<div class="form-outline mb-4">
										<div class="input-group">
											<div class="input-group-prepend">
												<div class="input-group-text bg-light">
													<i class="fa-solid fa-at"></i>
												</div>
											</div>
											<input type="email" name="username"
												class="box-shadow-none form-control"
												placeholder="Enter Email" />
										</div>
									</div>

									<!-- Password input -->
									<div class="form-outline mb-4">
										<div class="input-group">
											<div class="input-group-prepend">
												<div class="input-group-text bg-light">
													<i class="fa-solid fa-lock"></i>
												</div>
											</div>
											<input type="password" name="password"
												class="box-shadow-none form-control"
												placeholder="Enter Password">
										</div>
									</div>

									<!-- 2 column grid layout -->
									<div class="row mb-4">
										<div class="col-md-6 d-flex justify-content-center">
											<!-- Checkbox -->
											<div class="form-check mb-3 mb-md-0">
												<input class="form-check-input" type="checkbox" value=""
													id="loginCheck" checked /> <label class="form-check-label"
													for="loginCheck"> Remember me </label>
											</div>
										</div>

										<div class="col-md-6 d-flex justify-content-center">
											<!-- Simple link -->
											<a th:href="@{/resetPassword}" class="text-primary pointer"> Forgot password?</a>
										</div>
									</div>

									<!-- Submit button -->
									<button type="submit" class="btn bg-fyellow btn-block mb-4">Sign
										in</button>

									<!-- Register buttons -->
									<div class="text-center">
										<p>
											Not a member? <a href="#!">Register</a>
										</p>
									</div>

									<div class="text-center my-2">

										<button type="button" class="btn btn-link btn-floating mx-1">
											<i class="fab fa-facebook-f"></i>
										</button>

										<button type="button" class="btn btn-link btn-floating mx-1">
											<i class="fab fa-google"></i>
										</button>

										<button type="button" class="btn btn-link btn-floating mx-1">
											<i class="fab fa-twitter"></i>
										</button>

										<button type="button" class="btn btn-link btn-floating mx-1">
											<i class="fab fa-github"></i>
										</button>
									</div>

								</form>

							</div>

						</div>

					</div>

				</div>
				<div th:classappend="${tagName.equals('register')?'show active':''}"
					class="tab-pane fade" id="nav-profile" role="tabpanel"
					aria-labelledby="nav-profile-tab">
					<div class="row">
						<div class="col-12 col-sm-10 col-md-8 offset-sm-1 offset-md-2">
							<div class="registerCard">
								<form th:action="@{/do_register}" method="Post"
									th:object="${user}">
									<!-- Name input -->
									<div class="form-outline mb-4">
										<div class="input-group">
											<div class="input-group-prepend">
												<div class="input-group-text bg-light">
													<i class="fa-solid fa-user"></i>
												</div>
											</div>
											<input name="userName" th:value="${user.userName}"
												th:classappend="${#fields.hasErrors('userName')?'is-invalid':'' }"
												type="text" class="box-shadow-none form-control"
												placeholder="Enter user name">
											<div th:each="e : ${#fields.errors('userName')}"
												th:text="${e}" class="invalid-feedback"></div>

										</div>
									</div>

									<!-- Username input -->
									<div class="form-outline mb-4">
										<div class="input-group">
											<div class="input-group-prepend">
												<div class="input-group-text bg-light">
													<i class="fa-solid fa-at"></i>
												</div>
											</div>
											<input name="userEmail" th:value="${user.userEmail}"
												th:classappend="${#fields.hasErrors('userEmail')?'is-invalid':''}"
												type="email" class="box-shadow-none form-control"
												placeholder="Enter the Email address">
											<div th:each="e : ${#fields.errors('userEmail')} "
												th:text="${e}" class="invalid-feedback"></div>
										</div>
									</div>

									<!-- Email input -->
									<div class="form-outline mb-4">
										<div class="input-group">
											<div class="input-group-prepend">
												<div class="input-group-text bg-light">
													<i class="fa-solid fa-phone"></i>
												</div>
											</div>
											<input name="userPhone" th:value="${user.userPhone}"
												th:classappend="${#fields.hasErrors('userPhone')?'is-invalid':''}"
												type="text" class="box-shadow-none form-control"
												placeholder="Enter Phone Number">
											<div th:each="e : ${#fields.errors('userPhone')} "
												th:text="${e}" class="invalid-feedback"></div>
										</div>
									</div>

									<!-- Password input -->
									<div class="form-outline mb-4">
										<div class="input-group">
											<div class="input-group-prepend">
												<div class="input-group-text bg-light">
													<i class="fa-solid fa-lock"></i>
												</div>
											</div>
											<input name="userPassword" th:value="${user.userPassword}"
												th:classappend="${#fields.hasErrors('userPassword')?'is-invalid':''}"
												type="password" class="box-shadow-none form-control"
												id="inlineFormInputGroupUsername"
												placeholder="Enter strong password">
											<div th:each="e : ${#fields.errors('userPassword')} "
												th:text="${e}" class="invalid-feedback"></div>
										</div>
									</div>

									<div class="row mb-4">
										<div class="col-12 col-sm-6">
											<div class="input-group">
												<div class="input-group-prepend">
													<div class="input-group-text bg-light">
														<i class="fa-solid fa-user"></i>
													</div>
												</div>
												<input name="userDistrict" th:value="${user.userDistrict}"
													th:classappend="${#fields.hasErrors('userDistrict')?'is-invalid':'' }"
													type="text" class="box-shadow-none form-control"
													placeholder="Enter district">
												<div th:each="e : ${#fields.errors('userDistrict')}"
													th:text="${e}" class="invalid-feedback"></div>

											</div>
										</div>
										<div class="col-12 col-sm-6">
											<div class="input-group">
												<div class="input-group-prepend">
													<div class="input-group-text bg-light">
														<i class="fa-solid fa-user"></i>
													</div>
												</div>
												<input name="userPincode" th:value="${user.userPincode}"
													th:classappend="${#fields.hasErrors('userPincode')?'is-invalid':'' }"
													type="text" class="box-shadow-none form-control"
													placeholder="Enter Pincode">
												<div th:each="e : ${#fields.errors('userPincode')}"
													th:text="${e}" class="invalid-feedback"></div>

											</div>
										</div>
									</div>

									<!-- Repeat Password input -->
									<div class="form-outline mb-4">
										<small class="text-muted">Enter the Address</small>
										<textarea name="userAddr" th:text="${user.userAddr}"
											th:classappend="${#fields.hasErrors('userAddr')?'is-invalid':''}"
											id="" class="box-shadow-none form-control" rows="4"></textarea>
										<div th:each="e : ${#fields.errors('userAddr')} "
											th:text="${e}" class="invalid-feedback"></div>
									</div>

									<!-- Checkbox 
									<div class="form-check  mb-4">
										<input  class="form-check-input me-2"
											type="checkbox" name="agreed"  value="" id="registerCheck"
											aria-describedby="registerCheckHelpText" /> <label
											class="form-check-label" for="registerCheck"> I have
											read and agree to the terms </label>
									</div -->

									<!-- Submit button -->
									<button type="submit" onclick="load()" class="btn bg-fyellow btn-block mb-3">Sign
										in <i class=" px-2 text-danger fa-solid fa-spin fa-spinner hide" id="spi"></i></button>

									<div class="text-center my-3">
										<button type="button" class="btn btn-link btn-floating mx-1">
											<i class="fab fa-facebook-f"></i>
										</button>

										<button type="button" class="btn btn-link btn-floating mx-1">
											<i class="fab fa-google"></i>
										</button>

										<button type="button" class="btn btn-link btn-floating mx-1">
											<i class="fab fa-twitter"></i>
										</button>

										<button type="button" class="btn btn-link btn-floating mx-1">
											<i class="fab fa-github"></i>
										</button>
									</div>
								</form>

							</div>

						</div>
					</div>

				</div>
			</div>
		</div>
		
		<script>
		function load() {
			  var element = document.getElementById("spi");
			  element.classList.remove("hide");
			} 
		</script>

		<script th:if="${alert.equals('register')}">
		Swal.fire({
			  icon:'success',
			  title: 'Successfully Register',
			  width: 550,
			  padding: '3em',
			  text:"You are successfully register Please login here!!",
			  backdrop: `
			    rgba(255,233,150,0.3)
			  `
			});
		</script>
		<script th:if="${alert.equals('email-exist')}">
		Swal.fire({
			  icon:'warning',
			  title: 'Oops data error!!',
			  padding: '3em',
			  text:"Email id allredy exist please use another!!",
			  backdrop: `
			    rgba(255,233,150,0.3)
			  `
			});
		</script>
		
		
		<script th:if="${alert.equals('login')}">
		Swal.fire({
			  title: 'Please Login first!!',
			  width: 550,
			  padding: '3em',
			  text:"Please Login first the add the book to favorite list",
			  backdrop: `
			    rgba(255,233,150,0.3)
			  `
			});
		</script>
		<script th:if="${alert.equals('verify')}">
		Swal.fire({
			  icon:'success',
			  title: 'Successfully Register!! Verify Account',
			  width: 550,
			  padding: '3em',
			  text:"Email send on your email address click on verify to verify your account.",
			  backdrop: `
			    rgba(255,233,150,0.3)
			  `
			});
		</script>
		<script th:if="${alert.equals('notVerify')}">
		Swal.fire({
			  icon:'warning',
			  title: 'Account Not Verified!!',
			  width: 550,
			  padding: '3em',
			  text:"Please verify account first then login.",
			  backdrop: `
			    rgba(255,233,150,0.3)
			  `
			});
		</script>
	<script th:if="${alert.equals('sverify')}">
		Swal.fire({
			  icon:'success',
			  title: 'Account Successfully Verified!!',
			  padding: '3em',
			  text:"Your account is verified please loging to your account .",
			  backdrop: `
			    rgba(255,233,150,0.3)
			  `
			});
		
		</script>
		<script th:if="${alert.equals('everify')}">
		Swal.fire({
			  icon:'error',
			  title: 'Something Went wrong!!',
			  padding: '3em',
			  text:"Verification code not match .",
			  backdrop: `
			    rgba(255,233,150,0.3)
			  `
			});
	
		</script>
		
	
		
	</section>

</body>
</html>